.contact_user_area{
    display: flex;
    flex-direction: row;
    color: $white;
    
    .red_side_nav{
        background-color: $black;
        transform: none;
        a {
            font-family: monotype-grotesque,"Roboto",sans-serif;
            font-size: 15px;
        }
    }

    h2{
   
        font-size: 20px;
        margin: 2%;
    }
    .contact_others{
        text-align: center;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        margin: 3% auto;
        select{
            width: 30vw;
            font-size: 15px;
            font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
            font-weight: 300;
        }
        p{
            margin-top: 2%;
            font-size: 15px;
            font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
            font-weight: 300;
        }
        a{
            text-decoration: underline;
            font-size: 15px;
            font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
            font-weight: 300;
            width: 200px;
        }
        a:hover{
            color:$red;
        }
    }
   
}

@media (min-width:900px){
    .contact_user_area {
        .red_side_nav {
            height: 100vh;
            width: 35vw;
            background-color: $red;
            transform: translate(-18vw, 0px)  skewX(-20deg);
            -o-transform: translate(-18vw, 0px)  skewX(-20deg);
            -moz-transform: translate(-18vw, 0px)  skewX(-20deg);
            -ms-transform: translate(-18vw, 0px)  skewX(-20deg);
            -webkit-transform: translate(-18vw, 0px)  skewX(-20deg);
            a {
                transform: translate(18vw, 0px)  skewX(20deg);
                -o-transform: translate(18vw, 0px)  skewX(20deg);
                -moz-transform: translate(18vw, 0px)  skewX(20deg);
                -ms-transform: translate(18vw, 0px)  skewX(20deg);
                -webkit-transform: translate(18vw, 0px)  skewX(20deg);
                font-size: 25px;
                font-family: monotype-grotesque,"Roboto",sans-serif;
                font-weight: 600;
            }
        }
        h2 {
            font-size: 30px;
        }
    }
}