.contact_user_area{
    display: flex;
    flex-direction: row;
    color: $white;
    
    h2{
   
        font-size: 25px;
        margin: 2%;
    }
    .contact_others{
        text-align: center;
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 3% auto;
        select{
            width: 60%;
        }
        p{
            margin-top: 2%;
            font-size: 19px;
        }
        a{
            text-decoration: underline;
            font-size: 18px;
            width: 200px;
        }
        a:hover{
            color:$red;
        }
    }
   
}