.create_user_area{
    display: flex;
    flex-direction: row;
    color: $white;
    border-radius:  20px;
  
    
    a{
        font-size: 20px;
        padding: 20px;
    }
    a:hover{
      
        text-decoration: underline;
    }
   
    
}

.create_user_form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 60%;

    h2{
        font-size: 30px;
        text-align: center;
        margin:3%;
    }

   
    p{
        margin: 4%;
        color: $red;
    }
}




@media (min-width:900px){
    .create_user_form{
        margin-left: 2%;
        width: 35%;

        h2{
            font-size: 30px;
        }
    
       

    }
}
    
    
   
