.red_side_nav{
    height: auto;
    width: 30%;
    transform: translate(-140px, 0px)  skewX(-20deg);
    -webkit-transform: translate(-140px, 0px)  skewX(-20deg);
    -o-transform: translate(-140px, 0px)  skewX(-20deg);
    -ms-transform: translate(-140px, 0px)  skewX(-20deg);
    -moz-transform: translate(-140px, 0px)  skewX(-20deg);
    background-color: $red;
    a {
        font-family: monotype-grotesque-condensed,"Open Sans Condensed","Roboto",sans-serif;
        transform: skewX(20deg);
        -moz-transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
        -o-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
        font-size: 15px;
    }
}

.create_user_area{
    display: flex;
    flex-direction: row;
    color: $white;
    border-radius:  20px;
  
    
    a{
        font-size: 15px;
        padding: 20px;
    }
    a:hover{
      
        text-decoration: underline;
    }
   
    
}

.create_user_form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 10px;
    width: 60%;

    h2{
        font-size: 20px;
        text-align: center;
        margin:3%;
    }

   
    p{
        margin: 4%;
        color: $red;
    }

    label{
        font-size: 15px;
        font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
        font-weight: 600;
    }

    input{
        margin-bottom: 10px;
        font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
        font-weight: 300;
    }
}




@media (min-width:900px){
    .create_user_area {
        .red_side_nav {
            height: 100vh;
            width: 35vw;
            transform: translate(-18vw, 0px)  skewX(-20deg);
            -o-transform: translate(-18vw, 0px)  skewX(-20deg);
            -moz-transform: translate(-18vw, 0px)  skewX(-20deg);
            -ms-transform: translate(-18vw, 0px)  skewX(-20deg);
            -webkit-transform: translate(-18vw, 0px)  skewX(-20deg);
            a {
                transform: translate(18vw, 0px)  skewX(20deg);
                -o-transform: translate(18vw, 0px)  skewX(20deg);
                -moz-transform: translate(18vw, 0px)  skewX(20deg);
                -ms-transform: translate(18vw, 0px)  skewX(20deg);
                -webkit-transform: translate(18vw, 0px)  skewX(20deg);
                font-size: 25px;
            }
        }
    
        .create_user_form{
            margin-left: 2%;
            width: 35%;
    
            h2{
                font-size: 30px;
            }
        }
    }
}

