
.create_success_area{
    margin-top: 10%;
    text-align: center;
    h2{
        font-size: 30px;
        color: $white;
        width: 70%;
        margin: 5% auto;
    }
    a{
        text-decoration: none;
        display: inline-block;
        border:3px solid $white;
        color: $white;
        background-color: $black;
        text-align: center;
        font-size: 15px;
        padding: 10px ;
        transition: all 0.5s;
        cursor: pointer;
        width: 20%;
        margin: 1% auto;
    }

    a:hover{
        color: $black;
        background-color: $white;
    }
}