$default-padding: 6rem;

.hidden{
    display: none;
}
.cms{
    background-image: $main-bg-color;
    font-family: $default-font-family !important;
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}


p, a{
    font-size: 18px;
    line-height: 23px;
    font-family: monotype-grotesque, sans-serif;
}

h3{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 27px;
}
.white-bg{
    background-color: #fff;
}
#app{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: monotype-grotesque, sans-serif;

        -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    max-width: 100vw;
    overflow: hidden;
    background-color: $black;
}

$heading-font-size: 55px;

.sectionShell{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: $default-padding 0;
    // min-height: 100%;
    h1{
        font-family: SF Sports Night NS;
        font-size: 50px;
        text-transform: uppercase;
        white-space: nowrap;
        color:#fff;
    }
}

.show_desktop{
    display:none;
}

@media (min-width: 800px) {
    .sectionShell h1{
        font-size: 55px;
    }
} 

.Herofooter{
    position: absolute;
    top: 20vw;
    right: 7%;
    z-index: 999;
    ul{
        li{
            margin-top: 30px;
        }
    }
}

#socialMedia{
    .socialMediaContainer{
        width: 30px;
    a{
        color: $white;
        text-decoration: none;
    }
    li a svg:hover path{
        fill:$red;
    }
    }
}

ul{
    li a svg path{
        fill: #fff;
        transition: all 0.3s ease-in-out;
    }
}

