$default-padding: 6rem;

.hidden{
    display: none;
}

.cms{
    
    .logo{
        width: 200px;
    }

    button{
        text-decoration: none;
        display: inline-block;
        border:3px solid $white;
        color: $white;
        background-color: $black;
        text-align: center;
        font-size: 15px;
        padding: 5px ;
        transition: all 0.5s;
        cursor: pointer;
        width: 150px;
        margin: 1% auto;
    }

    button:hover{
        color: $black;
        background-color: $white;
    }

    a{
        text-decoration: none;
        display: inline-block;
        border:3px solid $white;
        color: $white;
        background-color: $black;
        text-align: center;
        font-size: 15px;
        padding: 6px  ;
        transition: all 0.5s;
        cursor: pointer;
        width: 150px;
        margin: 1% auto;
    }

    a:hover{
        color: $black;
        background-color: $white;
    }
    background-color: $black;
    // background-image: $main-bg-color;
    font-family: SF Sports Night NS;
    
    p{
        font-family: monotype-grotesque,sans-serif !important;
    }
    a {
        font-family: monotype-grotesque,sans-serif;
    }
    button{
        font-family: monotype-grotesque,sans-serif;
    }

    input{
        font-family: monotype-grotesque,sans-serif;
    }
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}


p, a{
    font-size: 18px;
    line-height: 23px;
    font-family: monotype-grotesque, sans-serif;
}

h3{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 27px;
}
.white-bg{
    background-color: #fff;
}
#app{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: monotype-grotesque, sans-serif;

        -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    max-width: 100vw;
    overflow: hidden;
    background-color: $black;
    position: relative;
}

#main::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: $black;
  animation: overlay 1s 1s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 99999999;
}

@keyframes overlay{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}

$heading-font-size: 55px;

.sectionShell{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: $default-padding 0;
    // min-height: 100%;
    h1{
        font-family: SF Sports Night NS;
        font-size: 50px;
        text-transform: uppercase;
        white-space: nowrap;
        color:#fff;
    }
}

.show_desktop{
    display:none;
}

@media (min-width: 800px) {
    .sectionShell h1{
        font-size: 55px;
    }
} 

.Herofooter{
    position: absolute;
    top: 20vw;
    right: 7%;
    z-index: 999;
    ul{
        li{
            margin-top: 30px;
        }
    }
}

#socialMedia{
    .socialMediaContainer{
        width: 30px;
    a{
        color: $white;
        text-decoration: none;
    }
    li a svg:hover path{
        fill:$red;
    }
    }
}

ul{
    li a svg path{
        fill: #fff;
        transition: all 0.3s ease-in-out;
    }
}


