.hidden{
    display: none;
}
.cms{
    background-image: $main-bg-color;
    font-family: $default-font-family !important;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

#app{
    display: flex;
    flex-direction: column;
    font-family: monotype-grotesque, sans-serif;

        -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

// .heading{
//             font-size: $heading-font-size;
//         text-transform: uppercase;
//         font-family: SF Sports Night NS;
//         letter-spacing: 1px;
//         padding:60px;
//         color: white;
//         white-space: nowrap;
//         span{
//             color: $red;
//         }
// }

