.hidden{
    display: none;
}
.cms{
    background-image: $main-bg-color;
    font-family: $default-font-family !important;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}