.delete_user_area{
    display: flex;
    flex-direction: row;
    color: $white;

    .red_side_nav{
        background-color: $black;
        transform: none;
        a {
            font-family: monotype-grotesque,"Roboto",sans-serif;
            font-size: 15px;
        }
    }
    .delete_user{
        display: flex;
        flex-direction: column;
    }

    h2{
        font-size: 30px;
        text-align: center;
        padding: 6%;
    }
    p{
        text-align: center;
    }

    a{
        font-size: 16px;
        padding: 20px;
    }
    a:hover{
        text-decoration: underline;
    }
    
    
    table, th, td {
        font-family: monotype-grotesque, 'Roboto',sans-serif; 
        border: 3px solid $white;
      }

    table{
        width: 70% auto;
        border: $white;
        text-align: center;
        
    }

    th {
        padding: 10px;
        font-size:15px;
        color: $black;
        background-color: $white;
        font-weight: 700;
    }

    td{
        padding: 1px;
    }
}

@media (min-width:900px){
    .delete_user_area {
        .red_side_nav {
            background-color: $red;
            height: 100vh;
            width: 35vw;
            transform: translate(-25vw, 0px)  skewX(-20deg);
            -o-transform: translate(-25vw, 0px)  skewX(-20deg);
            -moz-transform: translate(-25vw, 0px)  skewX(-20deg);
            -ms-transform: translate(-25vw, 0px)  skewX(-20deg);
            -webkit-transform: translate(-25vw, 0px)  skewX(-20deg);
            a {
                transform: translate(18vw, 0px)  skewX(20deg);
                -o-transform: translate(18vw, 0px)  skewX(20deg);
                -moz-transform: translate(18vw, 0px)  skewX(20deg);
                -ms-transform: translate(18vw, 0px)  skewX(20deg);
                -webkit-transform: translate(18vw, 0px)  skewX(20deg);
                font-size: 25px;
            }
        }
    }
}