.edit_user_area{
    color: $white;
    height: auto;
    display: flex;
    flex-direction: row;
    a{
        font-size: 20px;
        padding: 20px;
    }
    a:hover{
        text-decoration: underline;
    }

    h2{
        font-size: 30px;
        text-align: center;
        padding: 6%;
    }
}

.edit_user_form{
    width: 60%;
    display: flex;
        flex-direction: column;
     form{
        display: flex;
        flex-direction: column;
        label {
            font-size: 15px;
            font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
            font-weight: 600;
        }

        input{
            margin-bottom: 10px;
            font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
            font-weight: 300;
        }

        select{
            margin-bottom: 30px;
            font-family: monotype-grotesque,"Open Sans Condensed","Roboto",sans-serif;
            font-weight: 300;
        }

        select.select_others {
            margin-bottom: 0px;
        }

        button {
            align-self: flex-end;
        }
     }
}

@media (min-width:900px){
    .edit_user_form{
        margin-left: 2%;
        width: 40%;
        h2{
            font-size: 30px;
        }
    }
}

.edit_user_area {
    .red_side_nav {
        height: 100vh;
        width: 35vw;
        transform: translate(-18vw, 0px)  skewX(-20deg);
        -o-transform: translate(-18vw, 0px)  skewX(-20deg);
        -moz-transform: translate(-18vw, 0px)  skewX(-20deg);
        -ms-transform: translate(-18vw, 0px)  skewX(-20deg);
        -webkit-transform: translate(-18vw, 0px)  skewX(-20deg);
        a {
            transform: translate(18vw, 0px)  skewX(20deg);
            -o-transform: translate(18vw, 0px)  skewX(20deg);
            -moz-transform: translate(18vw, 0px)  skewX(20deg);
            -ms-transform: translate(18vw, 0px)  skewX(20deg);
            -webkit-transform: translate(18vw, 0px)  skewX(20deg);
            font-size: 25px;
        }
    }
}

.notthisuser{
    a{
        color: $red;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
 
}

.select_user{
    display: flex;
    flex-direction: row;
    select{
        width: 80%;
    }
    button{
        margin-top: 0;
        margin-left: 2%;
        font-size: 17px;
        width: 200px;
    }
}