.file_dashboard{
    display: flex;
    flex-direction: row;
    color: $white;
    height: 750px;


    .file_area{
        display: flex;
        flex-direction: column;
        width: 70%;

        form{
            width: 80%;
            margin: 0 auto;
        }

        input[type=text]{ 
          width: 40%;
    
        }

        label{
            font-size: 18px;
            margin:1% 0;  

        }
        
    }


    h2{
        font-size: 30px;
        text-align: center;
        margin: 4%;
    }

    h3{
        font-size: 22px;
        text-align: center;
        margin: 1%;
    }

    p{
        text-align: center;
    }


    a{
        font-size: 16px;
        padding: 20px;
    }

    a:hover{
        text-decoration: underline;
    }
    
    table{
        width: 80% ;
        margin: 0 auto;
    }
    
    table, th, td {
        text-align: center;
        font-family: monotype-grotesque,sans-serif; 
        border: 2px solid $white;
      }

    th {
        padding: 10px;
        font-size:17px;
        color: $black;
        background-color: $white;
        font-weight: 700;
        }
    
    
    td{
        font-size: 15px;
        padding: 1px;
    }

    
}

.file_action{
    display: flex;
    flex-direction:column;
}

@media (min-width:900px){
    .file_action{
        display: flex;
        flex-direction:row;
    }
}