.file_dashboard{
 
    display: flex;
    flex-direction: row;
    color: $white;
    height: 750px;

    form{
        width:60%;
        margin-top: 5%;
        transform: translate(140px, 0px)  skewX(20deg);
    }

    .file_area{
        display: flex;
        flex-direction: column;

        input[type=text]{ 
          width: 40%;
    
        }

        label{
            font-size: 18px;
            margin:1% 0;  

        }
        
    }


    h2{
        font-size: 30px;
        text-align: center;
        padding: 6%;
    }
    p{
        text-align: center;
    }

    button{
   
        background-color: $red;
        margin-top: 4%;
    }
    button:hover{
        background-color: $white;
        color: $red;
    }
    a{
        font-size: 16px;
        padding: 20px;
    }
    a:hover{
        text-decoration: underline;
    }
    
    
    table, th, td {
        text-align: center;
        font-family: monotype-grotesque,sans-serif; 
        border: 2px solid $white;
      }

    th {
        width: 190px;
        font-size: 20px;
        padding: 5px;
    }
    
    td{
        padding: 5px;
    }

    
}