.file_dashboard{
 
    display: flex;
    flex-direction: row;
    color: $white;
    height: 750px;


    .file_area{
        display: flex;
        flex-direction: column;
        width: 95%;

        input[type=text]{ 
          width: 40%;
    
        }

        label{
            font-size: 18px;
            margin:1% 0;  

        }
        
    }


    h2{
        font-size: 30px;
        text-align: center;
        margin: 4%;
    }
    p{
        text-align: center;
    }


    a{
        font-size: 16px;
        padding: 20px;
    }

    a:hover{
        text-decoration: underline;
    }
    
    table{
        width: 90%;
    }
    
    table, th, td {
        text-align: center;
        font-family: monotype-grotesque,sans-serif; 
        border: 2px solid $white;
      }

    th {
        width: auto;
        font-size: 20px;
        font-weight: 700;
        z-index: 999;
        text-transform: uppercase;

    }
    
    td{
        font-size: 15px;
    }

    .file_action{
        display: flex;
        flex-direction: row;
    }
}