.navbar{
    left: 0;
    padding: 1.4rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    background: $black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 5px $red;

    text-transform: uppercase;

    a{
        font-family: monotype-grotesque-condensed, sans-serif;
        font-size: 25px;
        padding: 1.5rem;
    }
}
.login-wrap{
    padding: 10px 0;
     display: flex;
        flex-direction: column;
         a{
         color: $red;
         padding: 0;

         .login_img{
        font-size: 10px;
        padding: 10px;
    }
    }
    .toDashboard{
        font-size: 11px;
        color: white;
        text-transform: capitalize;
        font-family: monotype-grotesque, sans-serif;

        margin-left: -10px;
    }

    .login_icon{
        height: 26px;
        padding-left: 10px;
    }

    .alinks{
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }
}
  

//dropdowns

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;

  width:100%;
  position: absolute;
  margin: 1.25rem;

  a{
      
      padding: 0.5rem 1.5rem;
      background-color: $red;
      border-bottom: solid 1px white;
      font-size: 18px;
      text-transform: capitalize;
      font-family: monotype-grotesque, sans-serif;
  }
  a:last-child{
      border-bottom: none;
  }
}


.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.dd_icon{
    width: 10px;
}

.show_desktop, .show_desktop_flex{
    display: none;
}


.menu_icon{
      width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
  margin: 1.5rem;
}

.mobile_menu{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 50vw;
    background-color: $black;
}

.slideLeft{
  display: flex;
  right: 0;
}