.navbar{
    left: 0;
    padding: 0.8rem 5%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 5px $red;

    text-transform: uppercase;

    a{
        font-family: monotype-grotesque-condensed, 'Open Sans Condensed', 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 25px;
        padding: 1.5rem 0;
        padding-right: 2vw;
        padding-left: 2vw;
        transition: all 0.3s ease-in-out;
        color: black;
    }
}
.logo-wrap{
    width: 7rem;
    a{
        padding: 0;
    }
}



.login-wrap{
    padding: 2rem 0;
     display: flex;
        flex-direction: column;
         a{
         color: $red;
         padding: 0;
         padding-right: 2.5rem;

         .login_img{
        font-size: 10px;
        padding: 10px;
    }
    }
    .toDashboard{
        font-size: 11px;
        color: white;
        text-transform: capitalize;
        font-family: monotype-grotesque, 'Roboto',sans-serif;

        margin-left: -10px;
    }

    .login_icon{
        height: 27px;
        padding-left: 10px;
    }

    .alinks{
        display: flex;
        align-items: center;
    }
}
  

//dropdowns

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;

  width:100%;
  position: absolute;
  margin: 1.25rem;

  a{
      padding: 0.5rem 1.5rem;
      background-color: $red;
      border-bottom: solid 1px white;
      font-size: 18px;
      text-transform: capitalize;
      font-family: monotype-grotesque, 'Roboto', sans-serif;
      color: white;
  }
  a:last-child{
      border-bottom: none;
  }
}


.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.dd_icon{
    width: 10px;
}

.show_desktop, .show_desktop_flex{
    display: none;
}

//mobile menu

.mobile_menu{
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    background-color: $black;
    // left: 0;
    left: -100%;
    right: 0;
    height: 100vh;
    padding: 9vw 5vw;
    justify-content: space-between;
    a{
        color: #fff;
    }
}
.close_bt{
    align-self: flex-end;
}

.slideLeft{
  display: flex;
  left:0;
  transition: all 1s;
}

.show_mobile_login{
    align-self: flex-end;
    a{
        color: $red;
    }
}
.mobile_links{
    padding-top:4rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}
.mobile_links >* {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
}


.mobile_social_media_wrap{
    padding: 1.5rem 3rem 1rem 2rem;
    .socialMediaContainer{
        width: 100%;
    a{
        color: $white;
        text-decoration: none;
    }
    li a svg:hover path{
        fill:$red;
    }
    li{
        width: 30px;
    }
    }
}
.social_media_mobile{
    display: flex;
    justify-content: space-between;
}

.mobile_links a{
    position: relative;
    z-index: 99;
    font-size: 33px;
}
.hoverMobileLink::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 15px;
    width: 70vw;
        border-right: 10px solid transparent;
    border-top: 15px solid $red;
    z-index: -1;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.hoverMobileLink:hover::after{
    opacity: 1;
}

.dd-content_mobile{
    position: static;
      a{
      padding: 0.5rem 1.5rem;
      background-color: transparent;
      font-size: 20px;
      font-family: monotype-grotesque, 'Roboto', sans-serif;
      color: $red;
      border: none;
  }
  a:hover{
      color: #fff;
  }
}
.dd_after::after{
    height: 25px;
}
//mobile menu end

//responsive 

@media (min-width: 1400px){
.logo-wrap{
    width: 11rem;
}
}

@media (min-width: 1440px){
   .show_desktop {
     padding-left: 5rem; 
}
}

@media (min-width: 1350px){
   .navbar{
         padding: 0.8rem $offset;
         padding-left: 6%;
       a{
        padding-right: 5rem;
        padding-left: 0;
       }
   }
   .login-wrap{
       a{
        padding-right: 0.8rem;
       }
   }
.logo-wrap{
    width: 10rem;
}
.dropdown-content{
    margin-left: 0;
}
}

@media (min-width: 1024px) {
    .show_desktop{
        display: block;
    }
    .show_desktop_flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .show_mobile{
        display: none;
    }
    .dropdown-content{
         a{
      padding: 0.5rem 1.5rem;
    }
}
}

.dont_display{
   display: none;
}