#heroSection{
    background: $black;
    font-size: 16px;
    width: 100vw;
    max-height: 95vh;
    min-height: 95vh;
    max-width:100%;
    position: relative;
    color: $white;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mobile{
    display:none;
}
header{
        height: 100%;
    padding: 60px 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .logo{
        justify-self: flex-start;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}
#menuSection{
    font-size: 25px;
    margin-top: 15vh;
    .menuContainer{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    li{
        margin-top: 20px;
    }
    a{
        color: $white;
        text-decoration: none;
    }
    }
}

.Herofooter{
    position: absolute;
    top: 25vh;
    right: 6vw;
    ul{
        li{
            margin-top: 30px;
        }
    }
}

#socialMedia{
  
    .socialMediaContainer{
        width: 30px;

    a{
        color: $white;
        text-decoration: none;
    }
    }
}

#learnMoreButton{
    font-size: 25px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 150px;
}
#arrow-line{
    display: block;
    position: relative;
    bottom: -5px;
    left: 0;
    width: 93%;
    height: 2px;
    background-color: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
#arrow{
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    -webkit-transform: rotate(
-45deg
);
        -ms-transform: rotate(
-45deg
);
            transform: rotate(
-45deg
);
    position: absolute;
    top: -5px;
    right: 1px;
    
}
#arrow-line::after{
    content: "";
    position: absolute;
    right: -17px;
    top: -20px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.3;
    width: 40px;
    height: 40px;

    -webkit-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;
}

.hero-content-wrapper{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    gap: 20px;
    -ms-grid-rows: minmax(700px, 100vh);
    grid-template-rows: minmax(700px, 100vh);
    width: 100vw;
}

.hero-content-wrapper > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.hero-content-wrapper > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.hero-content-wrapper > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.hero-content-wrapper > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.hero-content-wrapper > *:nth-child(5){
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.hero-content-wrapper > *:nth-child(6){
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

.hero-content-wrapper > *:nth-child(7){
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}

.hero-content-wrapper > *:nth-child(8){
    -ms-grid-row: 1;
    -ms-grid-column: 15;
}

.hero-content-wrapper > *:nth-child(9){
    -ms-grid-row: 1;
    -ms-grid-column: 17;
}

.hero-content-wrapper > *:nth-child(10){
    -ms-grid-row: 1;
    -ms-grid-column: 19;
}

.hero-content-wrapper > *:nth-child(11){
    -ms-grid-row: 1;
    -ms-grid-column: 21;
}

.hero-content-wrapper > *:nth-child(12){
    -ms-grid-row: 1;
    -ms-grid-column: 23;
}



#man {
    -ms-grid-column: 4;
    -ms-grid-column-span: 16;
    grid-column: 3/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 99999;
    -ms-grid-row-align: end;
        align-self: end;
    z-index: 22;
        padding: 13% 13% 0 13%;
    margin-top: 5%;

    min-height: 0;
}



#tweet{
    font-family: "SF Sports Night NS";
    letter-spacing: 3px;
    font-size: 210px;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    color: #fff;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 3/9;

    z-index: 11;
    margin-top: 13vw;
    span{
        color: $red;
    }
}

#heroMainContent{
    z-index: 999999;
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 3/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 25vh;
    margin-left: 20px;
    h1{
        font-size: 23px;
        z-index: 333;
          font-family: monotype-grotesque, sans-serif;
    font-weight: 400;
    }
}

#refereeSection{
    position: relative;
    width: 100vw;
    min-height: 110vh;
    max-width: 100%;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    h1{
        font-size: $heading-font-size;
        text-transform: uppercase;
        font-family: SF Sports Night NS;
        letter-spacing: 1px;
        padding:60px;
        color: $red;
        span{
            color: $black;
        }
    }
}

.features{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 5%;
    font-family: "Grotesque MT Std";
}

.feature-text{
    line-height: 20px;
    max-width: 250px;
}

.feature{
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 5%;

    h2{
        text-transform: uppercase;
        padding-bottom: 20px;
        white-space: nowrap;
    }
}

.number{
    font-size: 150px;
    font-family: 'Grotesque MT Std';
    font-weight: bold;
    padding-right: 20px;
    top: -30px;
    position: relative;
    color: $grey;
}



#partnersSection{
    width: 100vw;
    min-height: 89vh;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width:100%;
    background-image: url('../images/partners-bg.jpg');
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    h1{
        font-family: 'SF Sports Night NS';
             font-size: $heading-font-size;
            color:#fff;
            padding-top: 100px;
            span{
                color: $red;
            }
    }
    .logos{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 80%;
        padding-top: 100px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-bottom: 100px;
    }
    .partner-logo-wrap{
            margin: 20px 20px;
        img{
            -o-object-fit: cover;
               object-fit: cover;
            max-width: 100%;
        }
    }
}

#goals{
    width: 100vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url('../images/ourgoals-bg.jpg');
    background-position: center bottom;
    background-size: cover;
    max-width: 100%;
    padding: 100px;
}

.goals_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.goals_col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5rem;
}

.goal{
    color: white;
    height: 60px;
    width: 300px;
    
    background-color: $grey;
    margin: 5%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.red{
    background-color: $red;
}

.goalsText{
 
    color: #fff;
    font-family: monotype-grotesque, sans-serif;
    font-size: 20px;
    max-width: 500px;
    text-align: center;
    padding-top:100px;

}