.index_php{
    display: flex;
    flex-direction: column;
    color: $white;

    .dashboard_area{
        font-family: monotype-grotesque, sans-serif;
        margin-top: 3%;
        th td {
            margin: 2%;
        }
        h2{
            text-align: center;
            font-size: 30px;
            
        }
    }
   
}



.login_user{
    background-color: $black;
    color: $white;
    .login_info{
        margin: 0 auto;
        background-color: $black;
    }

    h2{
        font-size: 30px;
        text-align: center;
    }
    
    

.login_user_buttons{
    display: flex;
    flex-direction:row;
    margin: 3% 0;
    a{
        text-decoration: none;
        display: inline-block;
        border:2px double $black;
        color: $black;
        background-color: $red;
        text-align: center;
        width: auto;
        font-size: 15px;
        padding: 5px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 1% ;
    }

    a:hover{
        text-decoration: underline;
     
    }
}
   
}