.index_php{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: $white;
    width: 90%;
    margin: 2% auto;
    .event_area{
        font-family: monotype-grotesque, sans-serif;
        margin-top: 3%;
        table, th, td {
            border: 1px solid $white;
          }

        table{
            width: 70% auto;
            border: $white;
            text-align: center;
        }
        th {
            padding: 1% ;
            width: 250px;
        }

        td{
            padding:  1%;
            width: 250px;
            a{
                margin: 2%;
            }
        }

        h2{
            text-align: center;
            font-size: 30px;
            
        }

        
    }
   
}



.login_user{
    background-color: $black;
    color: $white;
    .login_info{
        margin: 0 auto;
        background-color: $black;
    }

    h2{
        font-size: 30px;
        text-align: center;
    }
    
    

.login_user_buttons{
    display: flex;
    flex-direction:row;
    margin: 3% auto;
    
    a{
        text-decoration: none;
        display: inline-block;
        border:2px double $white;
        color: $white;
        background-color: $black;
        text-align: center;
        width: auto;
        font-size: 15px;
        padding: 10px 25px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 1% ;
    }

    a:hover{
        color: $black;
        background-color: $white;
     
    }
}
   
}


.responsiveCal {
 
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
     
    }
     
    .responsiveCal iframe {
     
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
     
    }


