.login_area{
    display: flex;
    flex-direction: column;
    font-family: SF Sports Night NS;
    height:750px;
    width: 100%;
}


.logo_area{
    width: 100%;
    height: 40%;
    transform: translate(0px, -60px)  skewY(10deg);
    // transform:rotate(20deg);
    background-color: $red;
    display: flex;
    flex-direction: column;
    a{
        border: none;
        font-size: 18px;
        margin-top: 20%;
       transform:  skewY(-10deg);
       position: fixed;
       

    }
    a:hover{
      
        text-decoration: underline;
    }

    .logo{
        width: 60%;
       margin: 25%;
       transform:  skewY(-10deg);
        // transform:  rotate(-20deg) ;
    }

}


.login_form_area{
    .login_form{
        margin: 6% auto;
        width: 60%;
    }
    
    height: auto;
    color: $white;
    margin: 13% 2%;
    h3{
        font-size: 30px;
        padding: 5px;
        margin: 0 auto;
        text-align: center;
    }


    form{
        display: flex;
        flex-direction: column;
        
        label{
            font-size: 17px;
            margin: 1% 0;
        }

        input[type=text]{
            text-decoration: none;
          
            color: black;
            font-size: 15px;
            padding: 2px 10px;
            height: 35px;
            margin-top: 2%;
            margin-bottom: 2%;
            transition: all 0.5s;
            cursor: pointer;
 
            
        }

        button{
            text-decoration: none;
            display: inline-block;
            border: 3px solid $red;
            color: $red;
            background-color: $black;
            text-align: center;
            font-size: 18px;
            padding: 5px 0;
            transition: all 0.5s;
            cursor: pointer;
            margin: 1% 0;
            width: 150px;
            
        }
    
        button:hover{
            color: $black;
            background-color: $red;
            
        }
        
        

    }
}

@media (min-width:550px){ 
    .logo_area{
        .logo{
            margin: 22% auto;
            width:50%;
        }
    }
    
}

@media (min-width:630px){ 
    .logo_area{
        .logo{
            margin: 15% auto;
            width: 42%;
        }
    }
    
}

//login page mobile size
@media (min-width:800px){
    .login_area{
        display: flex;
        flex-direction: row;
       
    .logo_area{
        height: auto;
        width: 50%;
        transform: translate(-140px, 0px) skewX(-20deg);
    }
    a{
        border: none;
        font-size: 18px;
        position:fixed;
        margin: 3%;
       transform:  skewY(0deg);

    }
    .logo{
        width: 55%;
        margin: 30%;
       transform:  skewX(20deg);
    }

    .login_form_area{
        width: 35%;
        margin-left: 1%;
        margin-top: 11%;
        h3{
            font-size: 35px;
        }
        .login_form{
            margin-top: 2%;
            width: 100%;
            label{
                font-size: 25px;
            }
        }
    }
}
}





.login_fail{
    
    margin: 10%;
    color:$white;
    h2{
        font-size: 25px;
    }



}