.login_area{
   
    height: auto;
    background-color: $black;
    display: flex;
    flex-direction: row;
   
    font-family: SF Sports Night NS;
}

.logo_area{
    width: 30%;
    background-color: $red;
    height: auto;
    text-align: center;
    .logo{
        width: 230px;
        margin: 20% auto;
    }
  
}


.login_form_area{
    width: 50%;
    height: auto;
    background-color: $black;
    color: $white;
    margin: 10% 0;
    h3{
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }

    .login_form{
        text-align: center;
        margin:  17%;
        a{
            width: 10px;
            font-size: 13px;
        }
        a:hover{
            text-decoration: underline;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        input[type=text]{
            text-decoration: none;
            border: 2px double $red;
            color: black;
            font-size: 13px;
            padding: 5px 20px;
            height: 30px;
            margin-top: 2%;
            transition: all 0.5s;
            cursor: pointer;
            font-family:  monotype-grotesque,sans-serif;;
            
        }

        button{
            text-decoration: none;
            display: inline-block;
            border:2px double $red;
            color: $black;
            background-color: $red;
            text-align: center;
            font-size: 15px;
            padding: 5px 10px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 2% 0;
        }
    
        button:hover{
            color: $white;
            
        }
        
        

    }
}

.login_fail{
    
    margin: 10%;
    color:$white;
    h2{
        font-size: 25px;
        
    }
    p{
        font-size: 15px;
        padding: 1% 0;
        font-family: monotype-grotesque, sans-serif;
    }

    a{
        text-decoration: none;
        display: inline-block;
        border:2px double $red;
        color: $black;
        background-color: $red;
        text-align: center;
        font-size: 17px;
        padding: 10px 30px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 1% 0;
    }

    a:hover{
        text-decoration: underline;
    }
}