.login_area{
    display: flex;
    flex-direction: column;
    font-family: SF Sports Night NS;
    height: 100vh;
    width: 100%;
}

.logo_area{
    width: 100vw;
    height: 50vh;
    transform: skewY(20deg);
    margin-top: -10vh;
    background-color: $red;
    display: flex;
    flex-direction: column;
    a{
        border: none;
        font-size: 18px;
       transform:  skewY(-20deg);
       -moz-transform:  skewY(-20deg);
       -webkit-transform:  skewY(-20deg);
       -o-transform:  skewY(-20deg);
       -ms-transform:  skewY(-20deg);
       margin-top: 20vh;
       position: fixed;
       

    }
    a:hover{
      
        text-decoration: underline;
    }

    .logo{
        width: 55%;
       transform:  skewY(-20deg);
       -o-transform:  skewY(-20deg);
       -moz-transform:  skewY(-20deg);
       -webkit-transform:  skewY(-20deg);
       -ms-transform:  skewY(-20deg);
       margin-top: 25vh;
       align-self: center;
    }

}


.login_form_area{
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .login_form{
        width: 70vw;
    }

    h3{
        font-size: 30px;
        color: $white;
        margin-bottom: 30px;
    }


    form{
        display: flex;
        flex-direction: column;
        color: $white;
        label{
            font-size: 17px;
            margin-top: 5%;
            font-family: monotype-grotesque, sans-serif;
            font-weight: 400;
        }

        input[type=text]{
            text-decoration: none;
            color: black;
            font-size: 15px;
            padding: 5px 15px;
            height: 35px;
            margin-top: 2%;
            margin-bottom: 2%;
            transition: all 0.5s;
            cursor: pointer;
 
            
        }

        button{
            text-decoration: none;
            display: inline-block;
            border: 3px solid $white;
            color: $white;
            background-color: transparent;
            text-align: center;
            font-size: 15px;
            padding: 8px 0;
            transition: all 0.5s ease;
            cursor: pointer;
            margin-top: 40px;
            width: 80px;
            align-self: flex-end;
            
        }
    
        button:hover{
            color: $red;
            background-color: $white;
            border: 3px solid $white;
            padding: 8px 0;
            transition: all 0.5 ease;
            -o-transition: all 0.5 ease;
            -webkit-transition: all 0.5 ease;
            -ms-transition: all 0.5 ease;
            -moz-transition: all 0.5 ease;
            
        }
        
        .notice{
            color: $red;
            background-color: none;
            padding-left: 5px;
        }
        

    }
}

@media (min-width:550px){ 
    .logo_area{
        margin-top: -11vh;
        .logo{
            width: 50%;
        }
        a{
            margin-top: 22vh;
        }
    }
    
}

@media (min-width:630px){ 
    .logo_area{
        margin-top: -20vh;
        height: 70vh;
        .logo{
            width: 55%;
            margin-top: 35vh;
        }

        a{
            margin-top: 35vh;
        }
    }
    
}

//login page mobile size
@media (min-width:800px){
    .login_area{
        display: flex;
        flex-direction: row;
    .logo_area{
        height: auto;
       max-width: 80vw;
        transform: skewX(-20deg) translateX(-18vw);
        -moz-transform: skewX(-20deg) translateX(-18vw);
        -o-transform: skewX(-20deg) translateX(-18vw);
        -webkit-transform: skewX(-20deg) translateX(-18vw);
        -ms-transform: skewX(-20deg) translateX(-18vw);
        padding-top: 20vh;
        padding-right: 50px;
    }
    
    a{
        border: none;
        font-size: 25px;
        position:fixed;
       margin-top: 30vh;
       transform:  skewX(20deg);
       -ms-transform:  skewX(20deg);
       -moz-transform:  skewX(20deg);
       -webkit-transform:  skewX(20deg);
       -ms-transform:  skewX(20deg);
       align-self: center;
    }
    .logo{
        max-width: 50%;
       transform:  skewX(20deg);
       -moz-transform:  skewX(20deg);
       -ms-transform:  skewX(20deg);
       -webkit-transform:  skewX(20deg);
       -o-transform:  skewX(20deg);
       align-self: flex-end;
       padding-top: 30px;
    }

    .login_form_area{
        margin-top: 30vh;
        max-width: 40vw;
        padding-right: 10vw;
        h3{
            font-size: 40px;
        }
        .login_form{
            label{
                font-size: 25px;
            }
        }
    }
}
}





.login_fail{
    margin: 10%;
    color:$white;
    h2{
        font-size: 25px;
        font-family: monotype-grotesque, sans-serif;
        font-weight: 400;
    }



}