
@media (min-width: 1000px) {
    .show_desktop{
        display: block;
    }
    .show_desktop_flex{
        display: flex;
    }
    .navbar{
        justify-content: space-around;
    }
    .show_mobile{
        display: none;
    }
}