@media (min-width: 1024px) {
    .features{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                flex-direction: row;
                width: 100%;
    justify-content: space-between;
    padding-bottom: 0;
    }
}



// @media (min-width: 1750px) {
//     .features{
//         width: 1700px;
//     }
// }


@media (min-width: 1080px){
    #partnersSection .logos{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}
@media (min-width: 950px){
   #partnersSection .logos{
        width: 70%;
    }
}

@media (max-width:800px){



       .juniourcontent #heroText{
        h2{
            width:80%;
            font-size: 25px;
        }
        h3{

            font-size: 70px;
        }
        h4{

            font-size: 40px;
        }
    }

    .juniourcontent .juniorText{
        width: 60%;
            font-size: 20px;
        }

        .feature{
            width: auto;
            padding: 2rem;
        }
        .programButton span::after{
                left: 60%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
        }
        .text{
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
        } 
   
}


@media (min-width: 1080px){
    #partnersSection .logos{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .partner-logo-wrap{
            width: 100px;
    }
}
@media (min-width: 950px){
   #partnersSection .logos{
        width: 80%;
    }
    .partner-logo-wrap{
            width: 150px;
    }
                        .goals_wrap{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

@media (min-width: 700px){
    .partner-logo-wrap{
            width: 150px;
    }
}
@media (max-width:700px){
    .partner-logo-wrap{
            width: 100px;
    }
}