.teamMembers, .team-gal-section{
    h1{
        color:  $red;
    }
}
.membershipWrap{
    margin: 6rem 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.membershipText{
    width: 100%;
    align-self: center;
    padding: 2rem 0;
    p{
        color: #fff;
    }
}
.memberWrap{
    width: 50%;
    padding: 2rem 1rem;
    position: relative;
    .member-colored, .mmbInfo{
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        transition: all 0.3s ease-in-out;
    }
    .member-colored{
        top: 0;
        bottom: 0;
    }
    .mmbInfo{
        bottom: 0;

        background: rgba(0, 0, 0,0.5);
        padding: 0.5rem 2rem;
        color: white;
    }
}
.memberWrap:hover .member-colored{
    opacity: 1;
}
.memberWrap:hover .mmbInfo{
    opacity: 1;
}
@media (min-width: 700px){
.memberWrap{
    width: 30%;
    padding: 2rem 1rem;
}
}

@media (min-width: 1200px){
    .membershipWrap{
    margin: 6rem 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
    row-gap: 6rem;
}
.membershipText{
    grid-column: 1/3;
    align-self: center;
    padding: 2rem;
    p{
        color: #fff;
    }
}
.memberWrap{
    width: auto;
    padding: 0;
}
}

@media (min-width: 2000px){
    .sectionShell{
        padding-left: 20%;
        padding-right: 20%;
    }
}

