.teamMembers, .team-gal-section{
    h1{
        color:  $red;
    }
}
.membershipWrap{
    margin: 1rem 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.membershipText{
    width: 100%;
    align-self: center;
    padding: 2rem 1rem;
    p{
        color: #fff;
    }
}
.memberWrap{
    width: 50%;
    padding: 2rem 1rem;
    position: relative;
    .member-colored, .mmbInfo{
        transition: all 0.3s ease-in-out;
    }
    .member-colored{
        opacity: 1;
        position: relative;
    }
    .mmbInfo{
        position:absolute;
        bottom: 0;
        left:0;
        right: 0;
        background: rgba(0, 0, 0,0.5);
        margin: 2rem 1rem;
        padding: 0 1rem;
        color: white;
        opacity: 1;
        p{
                font-size: 18px;
                padding: 0.3rem 0;
        }
    }
}

.blackImage{
    display: none;
}
@media (min-width: 700px){
.memberWrap{
    width: 30%;
    // padding: 2rem 1rem;
}
}

@media(min-width: 900px){
    .membershipWrap{
    .mmbInfo{
    p{
                font-size: 23px;
                padding: 0.1rem 0;
    }
}

}
}
@media (min-width: 1200px){
    .membershipWrap{
    margin: 6rem 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
    row-gap: 6rem;
}
.membershipText{
    grid-column: 1/3;
    align-self: center;
    padding: 2rem;
    p{
        color: #fff;
    }
}
.memberWrap{
    width: auto;
    padding: 0;
    .member-colored{
        padding: 0px 0px;
    }
     .mmbInfo{
         margin: 0px 0px;
        padding: 0.8rem 1.8rem;

    }
}
    
}

@media (min-width: 600px){
    .membershipWrap{
    margin: 6rem 10%;
    }
}

@media (min-width: 2000px){
    .sectionShell{
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (min-width: 2849px){
    .sectionShell{
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media (min-width: 3000px){
    .sectionShell{
        padding-left: 30%;
        padding-right: 30%;
    }
}

