$red:#C10E11;
$black:#1D1B1D;
$white:#EAEAF4;
$grey: #5B595A;
$main-bg-color: linear-gradient(to left, $red  , $black);

$default-font-family: 'SfSportsNightNs',Fallback, Arial, "sans-serif";

$offset: 10%;