.hidden {
  display: none;
}

.cms {
  background-image: linear-gradient(to left, #C10E11, #1D1B1D);
  font-family: "SfSportsNightNs", Fallback, Arial, "sans-serif" !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

p, a {
  font-size: 18px;
  line-height: 23px;
  font-family: monotype-grotesque, sans-serif;
}

h3 {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 27px;
}

.white-bg {
  background-color: #fff;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: monotype-grotesque, sans-serif;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  max-width: 100vw;
  overflow: hidden;
  background-color: #1D1B1D;
}

.sectionShell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6rem 0;
}
.sectionShell h1 {
  font-family: SF Sports Night NS;
  font-size: 50px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
}

.show_desktop {
  display: none;
}

@media (min-width: 800px) {
  .sectionShell h1 {
    font-size: 55px;
  }
}
.Herofooter {
  position: absolute;
  top: 20vw;
  right: 7%;
  z-index: 999;
}
.Herofooter ul li {
  margin-top: 30px;
}

#socialMedia .socialMediaContainer {
  width: 30px;
}
#socialMedia .socialMediaContainer a {
  color: #EAEAF4;
  text-decoration: none;
}
#socialMedia .socialMediaContainer li a svg:hover path {
  fill: #C10E11;
}

ul li a svg path {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

@font-face {
  font-family: "SfSportsNightNs";
  src: url("../../assets/fonts/SfSportsNightNs.ttf") format("truetype");
}
.login_area {
  width: 60%;
  height: auto;
  background-color: #1D1B1D;
  display: flex;
  flex-direction: row;
  margin: 5% auto;
}

.logo_area {
  background-color: #C10E11;
  width: 50%;
  height: auto;
  text-align: center;
}
.logo_area .logo {
  width: 200px;
  margin: 17% auto;
}
.logo_area h2 {
  font-size: 28px;
  margin: 1%;
}

.login_form_area {
  width: 50%;
  height: auto;
  background-color: #1D1B1D;
  color: #EAEAF4;
  margin: 20% 0;
}
.login_form_area h3 {
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.login_form_area .login_form {
  margin: 5% 10%;
}
.login_form_area form {
  display: flex;
  flex-direction: column;
}
.login_form_area form input[type=text] {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 20px;
  margin-top: 2%;
  transition: all 0.5s;
  cursor: pointer;
}
.login_form_area form button {
  text-decoration: none;
  display: inline-block;
  border: 2px double #C10E11;
  color: #1D1B1D;
  background-color: #C10E11;
  text-align: center;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5% 0;
}
.login_form_area form button:hover {
  text-decoration: underline;
}

.index_php {
  display: flex;
  flex-direction: row;
}
.index_php .dashboard_area {
  margin-top: 3%;
  background-color: #EAEAF4;
  border-color: #C10E11;
  width: 65%;
  height: 700px;
}
.index_php .dashboard_area h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 20%;
}

.login_user {
  margin: 3%;
  background-color: #1D1B1D;
  width: 23%;
  height: 300px;
  color: #EAEAF4;
}
.login_user .login_info {
  margin: 0 auto;
  background-color: #1D1B1D;
}
.login_user h2 {
  font-size: 30px;
  padding: 5%;
  text-align: center;
}
.login_user h3 {
  font-size: 20px;
  margin-left: 5%;
  padding-bottom: 1%;
}
.login_user h4 {
  font-size: 17px;
  padding-top: 2%;
  margin-left: 5%;
}
.login_user .login_user_buttons {
  display: flex;
  flex-direction: column;
  margin: 3% 0;
}
.login_user .login_user_buttons a {
  text-decoration: none;
  display: inline-block;
  border: 2px double #EAEAF4;
  color: #1D1B1D;
  background-color: #EAEAF4;
  text-align: center;
  width: 80%;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1% 5%;
}
.login_user .login_user_buttons a:hover {
  text-decoration: underline;
  color: #C10E11;
}

.create_user_area {
  text-align: center;
  background-color: none;
  color: #EAEAF4;
  margin: 10% auto;
  border: 4px solid #EAEAF4;
  width: 70%;
  height: auto;
  border-radius: 20px;
}
.create_user_area h2 {
  font-size: 27px;
  text-align: center;
  padding: 2%;
}

.create_user_form {
  justify-content: space-around;
}
.create_user_form input[type=text] {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 20px;
  margin: 2%;
  transition: all 0.5s;
  cursor: pointer;
  width: 300px;
}
.create_user_form input[type=email] {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 20px;
  margin: 2%;
  transition: all 0.5s;
  cursor: pointer;
  width: 300px;
}
.create_user_form select {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 40px;
  margin: 2%;
  transition: all 0.5s;
  cursor: pointer;
  width: 350px;
}

.create_user_buttons button {
  text-decoration: none;
  display: inline-block;
  border: 5px double #1D1B1D;
  color: #EAEAF4;
  background-color: #1D1B1D;
  text-align: center;
  font-size: 15px;
  padding: 5px 15px;
  transition: all 0.5s;
  cursor: pointer;
  width: 300px;
  margin-bottom: 2%;
}
.create_user_buttons button:hover {
  text-decoration: underline;
}
.create_user_buttons a {
  text-decoration: none;
  display: inline-block;
  border: 5px double #1D1B1D;
  color: #EAEAF4;
  background-color: #1D1B1D;
  text-align: center;
  font-size: 15px;
  padding: 6.5px;
  transition: all 0.5s;
  cursor: pointer;
  width: 100px;
  margin-bottom: 2%;
}
.create_user_buttons a:hover {
  text-decoration: underline;
}

.edit_user_area {
  text-align: center;
  background-color: none;
  color: #EAEAF4;
  margin: 5% auto;
  border: 4px solid #EAEAF4;
  width: 60%;
  height: auto;
  border-radius: 20px;
}
.edit_user_area h2 {
  font-size: 27px;
  text-align: center;
  padding: 2%;
}

.edit_user_form form {
  display: flex;
  flex-direction: column;
}
.edit_user_form input[type=text] {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 20px;
  margin: 2%;
  transition: all 0.5s;
  cursor: pointer;
  width: 300px;
}
.edit_user_form input[type=email] {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 20px;
  margin: 2%;
  transition: all 0.5s;
  cursor: pointer;
  width: 300px;
}
.edit_user_form select {
  text-decoration: none;
  border: 5px double #EAEAF4;
  color: black;
  font-size: 13px;
  padding: 5px 20px;
  height: 40px;
  margin: 2%;
  transition: all 0.5s;
  cursor: pointer;
  width: 350px;
}
.edit_user_form .edit_user_buttons {
  display: inline;
}
.edit_user_form button {
  text-decoration: none;
  display: inline-block;
  border: 5px double #1D1B1D;
  color: #EAEAF4;
  background-color: #1D1B1D;
  text-align: center;
  font-size: 15px;
  padding: 5px 15px;
  transition: all 0.5s;
  cursor: pointer;
  width: 300px;
  margin-bottom: 2%;
}
.edit_user_form button:hover {
  text-decoration: underline;
}
.edit_user_form a {
  text-decoration: none;
  display: inline-block;
  border: 5px double #1D1B1D;
  color: #EAEAF4;
  background-color: #1D1B1D;
  text-align: center;
  font-size: 15px;
  padding: 6.5px;
  transition: all 0.5s;
  cursor: pointer;
  width: 100px;
  margin-bottom: 2%;
}
.edit_user_form a:hover {
  text-decoration: underline;
}

.create_success_area {
  margin-top: 5%;
  text-align: center;
}
.create_success_area h2 {
  font-size: 30px;
  color: #EAEAF4;
}
.create_success_area a {
  text-decoration: none;
  display: inline-block;
  border: 2px double #EAEAF4;
  color: #1D1B1D;
  background-color: #EAEAF4;
  text-align: center;
  width: 15%;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1% 5%;
}
.create_success_area a:hover {
  text-decoration: underline;
  color: #C10E11;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 0.3s ease;
}

.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

.navbar {
  left: 0;
  padding: 1.4rem 10%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #1D1B1D;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 5px #C10E11;
  text-transform: uppercase;
}
.navbar a {
  font-family: monotype-grotesque-condensed, sans-serif;
  font-size: 25px;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.logo-wrap {
  width: 60px;
}
.logo-wrap a {
  padding: 0;
}

.login-wrap {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.login-wrap a {
  color: #C10E11;
  padding: 0;
}
.login-wrap a .login_img {
  font-size: 10px;
  padding: 10px;
}
.login-wrap .toDashboard {
  font-size: 11px;
  color: white;
  text-transform: capitalize;
  font-family: monotype-grotesque, sans-serif;
  margin-left: -10px;
}
.login-wrap .login_icon {
  height: 26px;
  padding-left: 10px;
}
.login-wrap .alinks {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  margin: 1.25rem;
}
.dropdown-content a {
  padding: 0.5rem 1.5rem;
  background-color: #C10E11;
  border-bottom: solid 1px white;
  font-size: 18px;
  text-transform: capitalize;
  font-family: monotype-grotesque, sans-serif;
}
.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dd_icon {
  width: 10px;
}

.show_desktop, .show_desktop_flex {
  display: none;
}

.menu_icon {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
  margin: 1.5rem;
}

.mobile_menu {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 100%;
  right: 50vw;
  background-color: #1D1B1D;
}

.slideLeft {
  display: flex;
  right: 0;
}

.footer_nav_wrap {
  display: flex;
  flex-direction: column;
  background-color: #C10E11;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.footer_links_wrap {
  display: flex;
  flex-direction: column;
}
.footer_links_wrap a {
  padding: 0.3rem 10%;
  font-family: monotype-grotesque, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.footer_links_wrap a:hover {
  color: #1D1B1D;
}

.block {
  display: flex;
  flex-direction: column;
}
.block span {
  font-style: none;
  font-weight: 400;
}

.social_media_links {
  display: flex;
  padding: 0.3rem 2rem 2rem 10%;
}
.social_media_links a {
  color: white;
}
.social_media_links li {
  width: 27px;
  margin-left: 30px;
}
.social_media_links li:first-child {
  margin-left: 0;
}
.social_media_links li a svg:hover path {
  fill: #1D1B1D;
}

.creds {
  padding: 1.5rem 10%;
}

.toTopButton {
  display: flex;
  flex-direction: column;
  color: #040813;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  right: 10%;
  justify-self: flex-end;
  top: -5px;
  cursor: pointer;
}
.toTopButton a {
  padding-top: 20px;
  z-index: 99999;
}
.toTopButton svg {
  padding: 15px 0px 5px 0px;
  transition: all 0.3s ease-in-out;
}

.toTopButton:hover svg {
  transform: translateY(-2px);
}

.text {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  font-family: monotype-grotesque, sans-serif;
}
.text span {
  font-weight: 700;
}

.social_media_wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.contact_info div {
  display: flex;
  padding: 0.5rem 0px;
  align-items: center;
}
.contact_info div img {
  width: 27px;
  margin-right: 20px;
}
.contact_info div:last-child {
  padding-bottom: 0;
}

.rights {
  margin-top: 25px;
}

@media (min-width: 800px) {
  .social_media_wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.7rem 2rem 1rem 2rem;
  }
}
@media (min-width: 800px) {
  .footer_nav_wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer_links_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer_links_wrap a {
    padding: 0.3rem 2.3rem;
  }
  .footer_links_wrap a:nth-child(5) {
    margin-left: -45px;
  }

  .contact_info div {
    padding: 0.5rem;
  }

  .text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .rights {
    margin-top: 0px;
  }

  .social_media_links {
    padding: 0.3rem 2rem 2rem 2rem;
  }
}
.hero-content-wrapper {
  width: 100vw;
}

.heroSection {
  background: #1D1B1D;
  font-size: 16px;
  width: 100vw;
  max-width: 100%;
  position: relative;
  color: #EAEAF4;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tweet {
  font-family: "SF Sports Night NS";
  letter-spacing: 3px;
  font-size: 14vw;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 1/6;
  z-index: 11;
  margin-top: 13vw;
  padding-left: 20%;
  position: relative;
}
#tweet span {
  color: #C10E11;
}

#man {
  -ms-grid-column: 2;
  -ms-grid-column-span: 16;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 99999;
  -ms-grid-row-align: end;
  align-self: end;
  z-index: 22;
  margin-bottom: -5%;
  min-height: 0;
  padding: 8% 8% 0 8%;
}

#heroMainContent {
  z-index: 999999;
  font-size: 1vw;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 2%;
  position: absolute;
  top: -20px;
  z-index: 9999;
}
#heroMainContent h1 {
  font-family: monotype-grotesque, sans-serif;
  font-weight: 400;
}

.hero-content-wrapper {
  display: grid;
  -ms-grid-rows: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  gap: 20px;
}

header {
  height: 100%;
  padding: 60px 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
header .logo {
  justify-self: flex-start;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#menuSection {
  font-size: 25px;
  margin-top: 15vh;
}
#menuSection .menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
}
#menuSection .menuContainer li {
  margin-top: 20px;
}
#menuSection .menuContainer a {
  color: #EAEAF4;
  text-decoration: none;
}

.button {
  border: solid 2px #C10E11;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 1px;
  border-left-width: 2px;
  height: 50px;
  width: 180px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
}
.button a {
  color: #C10E11;
  font-family: monotype-grotesque, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 999;
  transition: all 0.3s ease-out;
}

.button:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: -2px;
  left: -2px;
  right: -2px;
  top: 100%;
  transition: top 0.3s ease-out;
}

.button:hover:before {
  top: -2px;
  bottom: -2px;
}

.button:hover a {
  color: #1D1B1D;
}

.memberInfo .button:before {
  background: #C10E11;
}

.memberInfo .button:hover:before {
  top: -2px;
  bottom: -2px;
}

.memberInfo .button:hover a {
  color: #fff;
}

#refereeSection .button:before {
  background: #C10E11;
}

#refereeSection .button:hover:before {
  top: -2px;
  bottom: -2px;
}

#refereeSection .button:hover a {
  color: #fff;
}

.meetTheTeamButton {
  margin-top: 6rem;
}

.goalsButton {
  border-color: #fff;
  margin-top: 100px;
}
.goalsButton a {
  color: #fff;
}

#refereeSection {
  position: relative;
}
#refereeSection h1 {
  color: #C10E11;
}
#refereeSection h1 span {
  color: #1D1B1D;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 5%;
  padding-top: 6rem;
  font-family: "Grotesque MT Std";
}

.feature-text {
  line-height: 23px;
  max-width: 250px;
  font-size: 19px;
  color: #1D1B1D;
}

.feature {
  /* width: 380px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* padding: 6rem 5% 0 5%; */
  /* padding: 3rem; */
  padding: 1rem 0 1rem 0;
}
.feature h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 23px;
}

.number {
  font-size: 150px;
  font-family: "Grotesque MT Std";
  font-weight: bold;
  padding-right: 20px;
  top: -30px;
  position: relative;
  color: #5B595A;
}

#goals {
  background-image: url("../images/ourgoals-bg.jpg");
  background-position: center bottom;
  background-size: cover;
}
#goals span {
  color: #C10E11;
}

.goals_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.goals_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 80px;
}

.goal {
  color: white;
  height: 70px;
  width: 280px;
  background-color: #5B595A;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  font-weight: 700;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.goal h2 {
  font-size: 23px;
}

.red {
  background-color: #C10E11;
}

.goalsText {
  color: #fff;
  font-family: monotype-grotesque, sans-serif;
  font-size: 20px;
  max-width: 500px;
  text-align: center;
  padding-top: 100px;
}

#partnersSection {
  background-image: url("../images/partners-bg.jpg");
  background-position: center;
}
#partnersSection span {
  color: #C10E11;
}
#partnersSection .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 6rem 0;
}
#partnersSection .partner-logo-wrap {
  margin: 20px 20px;
  position: relative;
}
#partnersSection .partner-logo-wrap img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
#partnersSection .partner-logo-wrap .partner-logo-color {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 999;
  transition: all 0.5s;
}
#partnersSection .partner-logo-wrap .partner-logo-color:hover {
  opacity: 1;
}

#officials {
  overflow: hidden;
  position: relative;
}
#officials h1 {
  color: #C10E11;
}
#officials h1 span {
  color: #1D1B1D;
}

.gallery_button {
  position: absolute;
  top: 55%;
  width: 80px;
  z-index: 999;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.gallery_button:hover {
  opacity: 1;
}

.btn-left {
  left: 3%;
}

.btn-right {
  right: 3%;
  transform: rotate(180deg);
}

.officialsGalleryWrap {
  width: 100vw;
  padding-left: 10.5%;
  position: relative;
  padding-top: 6rem;
}

.officialsGallery {
  display: flex;
  flex-direction: row;
}

.member {
  margin-right: 5rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.member-img-wrap {
  height: 60vw;
  overflow: hidden;
}
.member-img-wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

.memberInfoWrap {
  background-color: #1D1B1D;
  padding: 35px;
  width: 80vw;
}

.memberInfo {
  padding: 30px;
  border-left: 7px solid #C10E11;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  font-weight: 400;
  justify-content: space-between;
}
.memberInfo h3 {
  color: #C10E11;
  margin-bottom: 10px;
}
.memberInfo p {
  color: #fff;
  font-weight: 700;
}

.memberText {
  padding: 2vw 0;
  padding-top: 4vw;
  color: #EAEAF4;
  font-size: 20px;
  line-height: 26px;
}

.transparent {
  opacity: 0.5;
}

@media (min-width: 1000px) {
  .officialsGalleryWrap {
    padding-left: 15vw;
  }

  .officialsGallery {
    height: 500px;
    width: 3000px;
  }

  .member {
    flex-direction: row;
    height: 500px;
  }

  .member-img-wrap {
    width: 25vw;
    height: 100%;
  }

  .memberInfoWrap {
    width: 42vw;
  }

  .gallery_button {
    width: 5vw;
  }
}
.about-hero, .team-hero {
  background-image: url(../images/aboutus-hero.jpg);
  background-position: 70% 50%;
  background-size: cover;
}
.about-hero h1, .team-hero h1 {
  font-size: 50px;
}
.about-hero p, .team-hero p {
  width: 60%;
  padding-left: -10px;
  color: #fff;
}
.about-hero span, .team-hero span {
  position: absolute;
  bottom: -8px;
  left: -4vw;
  color: #C10E11;
  font-family: Sf Sports Night Ns;
  font-size: 60px;
}

.team-hero {
  background-image: url(../images/ourteam-hero.jpg);
  background-position: center right;
  background-size: cover;
}
.team-hero p {
  width: 100%;
}
.team-hero span {
  left: -4vw;
}

.about-us-hero-content, .our-team-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 10%;
}
.about-us-hero-content div, .our-team-hero-content div {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

@media (min-width: 1000px) {
  .about-us-hero-content, .our-team-hero-content {
    display: block;
  }
  .about-us-hero-content div, .our-team-hero-content div {
    padding-right: 5rem;
    padding-left: 0;
  }

  .our-team-hero-content {
    margin-left: 47rem;
    padding-right: 0;
    margin-top: 5rem;
  }

  .about-hero, .team-hero {
    justify-content: center;
    min-height: 90vh;
  }
  .about-hero h1, .team-hero h1 {
    font-size: 100px;
  }

  .hero-section {
    max-height: 95vh;
    min-height: 95vh;
  }
}
@media (min-width: 1200px) {
  .about-hero, .team-hero {
    background-size: cover;
    background-position: 60% 100%;
    justify-content: center;
  }

  .team-hero {
    background-position: 60% 100%;
    background-size: 110%;
  }
}
.aboutSection h1 {
  color: #1D1B1D;
}
.aboutSection h1 span {
  color: #C10E11;
}

.about-article-logo {
  max-width: 12vw;
  min-width: 200px;
  margin: 2rem;
}

.about-article {
  padding-top: 2rem;
  margin: 0 10%;
  border-top: solid 6px #C10E11;
}
.about-article .ab-col {
  padding-top: 2rem;
}

@media (min-width: 800px) {
  .about-article {
    margin: 0 20%;
  }
}
@media (min-width: 1200px) {
  .about-article {
    display: flex;
    margin: 0 25%;
  }
  .about-article .ab-col {
    padding: 0 3rem;
  }
}
.about-goals {
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}
.about-goals h1 {
  color: #C10E11;
}
.about-goals h1 span {
  color: #fff;
}

.goals {
  width: 100%;
  padding-top: 5rem;
}
.goals p {
  padding-bottom: 5rem;
  padding-top: 1rem;
  color: #fff;
  padding-left: 9rem;
}

.ref:last-child p {
  padding-bottom: 0;
}

.about-referee {
  width: 35%;
  padding: 5rem;
  padding-bottom: 0;
  padding-top: 5rem;
}

@media (min-width: 1200px) {
  .about-goals {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .about-referee {
    padding-top: 0;
    margin-top: -2rem;
  }

  .goals {
    width: 60%;
  }
}
.aboutAtSection {
  flex-direction: column;
  align-items: center;
  padding: 8% 10%;
}
.aboutAtSection h1 {
  color: #1D1B1D;
}
.aboutAtSection h1 span {
  color: #C10E11;
}

.aboutAtText {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.aboutAtText h3 {
  padding: 3rem 0 1.5rem 0;
}

.aboutAtPic {
  background-image: url("../images/aboutus-atlrg.jpg");
  background-position: center;
  background-size: cover;
  min-width: 400px;
  width: 100%;
  height: 80vh;
}

@media (min-width: 1200px) {
  .aboutAtSection {
    flex-direction: row;
    align-items: center;
    padding: 8% 10%;
  }
  .aboutAtSection h1 {
    color: #1D1B1D;
  }
  .aboutAtSection h1 span {
    color: #C10E11;
  }

  .aboutAtText {
    padding: 4rem;
    width: 60%;
  }

  .aboutAtPic {
    width: 60%;
  }
}
.teamMembers h1 {
  color: #C10E11;
}

.membershipWrap {
  margin: 6rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.membershipText {
  width: 100%;
  align-self: center;
  padding: 2rem 0;
}
.membershipText p {
  color: #fff;
}

.memberWrap {
  width: 50%;
  padding: 2rem 1rem;
  position: relative;
}
.memberWrap .member-colored, .memberWrap .mmbInfo {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.memberWrap .member-colored {
  top: 0;
  bottom: 0;
}
.memberWrap .mmbInfo {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 2rem;
  color: white;
}

.memberWrap:hover .member-colored {
  opacity: 1;
}

.memberWrap:hover .mmbInfo {
  opacity: 1;
}

@media (min-width: 700px) {
  .memberWrap {
    width: 30%;
    padding: 2rem 1rem;
  }
}
@media (min-width: 1200px) {
  .membershipWrap {
    margin: 6rem 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
  }

  .membershipText {
    grid-column: 1/3;
    align-self: center;
    padding: 2rem;
  }
  .membershipText p {
    color: #fff;
  }

  .memberWrap {
    width: auto;
    padding: 0;
  }
}
@media (min-width: 2000px) {
  .sectionShell {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 1024px) {
  .show_desktop {
    display: block;
  }

  .show_desktop_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .show_mobile {
    display: none;
  }

  .features {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    flex-direction: row;
    width: 100%;
    padding: 6rem 10%;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
@media (min-width: 1080px) {
  #partnersSection .logos {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media (min-width: 950px) {
  #partnersSection .logos {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .juniourcontent #heroText h2 {
    width: 80%;
    font-size: 25px;
  }
  .juniourcontent #heroText h3 {
    font-size: 70px;
  }
  .juniourcontent #heroText h4 {
    font-size: 40px;
  }

  .juniourcontent .juniorText {
    width: 60%;
    font-size: 20px;
  }

  .feature {
    width: auto;
    padding: 2rem;
  }

  .programButton span::after {
    left: 60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1080px) {
  #partnersSection .logos {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .partner-logo-wrap {
    width: 100px;
  }
}
@media (min-width: 950px) {
  #partnersSection .logos {
    width: 80%;
  }

  .partner-logo-wrap {
    width: 150px;
  }

  .goals_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .partner-logo-wrap {
    width: 150px;
  }
}
@media (max-width: 700px) {
  .partner-logo-wrap {
    width: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
