.button{
    border: solid 2px $red;
    height: 50px;
    width: 180px;
    

    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    a {
        color: $red;
        font-family: monotype-grotesque, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.meetTheTeamButton{
    margin-top: 50px;
}
.goalsButton{
    border-color: #fff;
    margin-top: 100px;
    a{
        color: #fff;
    }
}

.memberInfo .button:hover{
     background-color: $red;
    a{
    color: #fff;
    }
}
.meetTheTeamButton:hover{
    background-color: $red;
    a{
    color: #fff;
    }
}

.goalsButton:hover{
    background-color: #fff;
    a{
    color: $red;
    }
}