.button{
    border: solid 2px $red;


border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 1px;
border-left-width: 2px;


    height: 50px;
    width: 160px;
    

    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    position: relative;

    a, p {
        color: $red;
        font-family: monotype-grotesque, 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        z-index:999;
        transition: all 0.3s ease-out;
        font-size: 16px;
        cursor: pointer;
    }
    p{
        color: #fff;
    }
}

.button:before{
    content: "";
    position: absolute;
    background: #fff;
    bottom: -2px;
    left:-2px;
    right: -2px;
    top: 100%;
    transition: top 0.3s ease-out;
}

.button:hover:before{
    top:-2px;
    bottom: -2px;
}
.button:hover a{
    color: $black;
}
.button:hover p{
    color: $black;
}
.memberInfo .button:before{
    background: $red;
}

.memberInfo .button:hover:before{
    top:-2px;
    bottom: -2px;
}
.memberInfo .button:hover a{
    color: #fff;
}


#refereeSection .button:before{
    background: $red;
}

#refereeSection .button:hover:before{
    top:-2px;
    bottom: -2px;
}
#refereeSection .button:hover a{
    color: #fff;
}

.goalsButton{
    border-color: #fff;
    margin-top: 2rem;
    a{
        color: #fff;
    }
}
.careerButton{
     border-color: #fff;
     margin-top: 1.5rem;
    a{
        color: #fff;
    }
}

.officials_button{
    margin-top: 2rem;
}

@media (min-width: 580px) {
    .goalsButton{
        margin-top: 100px;
    }
}

@media (min-width: 1024px){
        .officials_button{
    margin-top: 0rem;
}
}

