#goals{
    // background-image: url('../images/ourgoals-bg.jpg');
    // background-position: center bottom;
    // background-size: cover;
    span svg{
        color: $red;
    }
}

.goals_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: $default-padding_mobile;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.goals_col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 80px;
}

.goal{
    color: white;
   height: 70px;
    width: 280px;
    
    background-color: $grey;
    margin-bottom: 40px;

    display: -webkit-box;

    display: -ms-flexbox;
    font-weight: 700;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

            h2{
                font-size: 23px;
            }
}
.red{
    background-color: $red;
}

.goalsText{
 
    color: #fff;
    font-family: monotype-grotesque, 'Roboto', sans-serif;
    font-size: 20px;
    max-width: 300px;
    text-align: center;
    padding-top:20px;

}

@media (min-width: 580px) {
    .goals_wrap{
        padding-top: $default-padding;
    }
    .goalsText{
            max-width: 500px;
            padding-top: 100px;
    }
}