
#tweet{
    font-family: "SF Sports Night NS";
    letter-spacing: 3px;
    font-size: 210px;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    color: #fff;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
    z-index: 11;
    margin-top: 13vw;
    span{
        color: $red;
    }
}



#man {
    -ms-grid-column: 4;
    -ms-grid-column-span: 16;
    grid-column: 3/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 99999;
    -ms-grid-row-align: end;
        align-self: end;
    z-index: 22;
        padding: 13% 13% 0 13%;
    margin-top: 5%;

    min-height: 0;
}


#heroMainContent{
    z-index: 999999;
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 3/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 25vh;
    margin-left: 20px;
    h1{
        font-size: 23px;
        z-index: 333;
          font-family: monotype-grotesque, sans-serif;
        font-weight: 400;
    }
}