

header{
    height: 100%;
    padding: 60px 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .logo{
        justify-self: flex-start;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}
#menuSection{
    font-size: 25px;
    margin-top: 15vh;
    .menuContainer{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    li{
        margin-top: 20px;
    }
    a{
        color: $white;
        text-decoration: none;
    }
    }
}


