$heading-font-size: 55px;

.sectionShell{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    padding-bottom: 4rem;
    h1{
        font-family: SF Sports Night NS;
        font-size: 30px;
        text-transform: uppercase;
        white-space: nowrap;
        color:#fff;
        padding: 4rem;
        padding-top: 5rem;
    }
}

.show_desktop{
    display:none;
}

@media (min-width: 800px) {
    .sectionShell h1{
        font-size: 55px;
    }
}