#officials{
    overflow: hidden;
    position: relative;
    h1{
        color: $red;
        span{
            color: $black;
        }
    }
    .btn-left{
        display: none;
    }
}

.gallery_button{
    position: absolute;
    top: 55%;
    width: 80px;
    z-index: 999;
        cursor: pointer;
opacity: 0.3;
transition: all 0.3s ease-in-out;
}

.gallery_button:hover{
    opacity: 1;
}

.btn-left{
    left: 3%;
}
.btn-right{
    right: 3%;
    transform: rotate(180deg);
}


.officialsGalleryWrap{
    width: 100vw;
    padding-left: 10.5%; 
    position: relative;
    padding-top: $default-padding_mobile;
}

.officialsGallery{
    display: flex;
    flex-direction: row;
}

.member{
    margin-right: 5rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.member-img-wrap{
    height: 100vw;
    overflow: hidden;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
    }
}

.memberInfoWrap{
    background-color: $black;
    padding: 35px;
    width: 80vw;
}
.memberInfo{
    padding: 30px;
    border-left: 7px solid $red;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    font-weight: 400;
    justify-content: space-between;
      h3{
        color:$red;
        margin-bottom: 10px;
    }
    p{
        color: #fff;
        font-weight: 700;

    }

}

.memberText{
   padding: 2vw 0;
    padding-top: 4vw;
    color: $white;
    font-size: 20px;
    line-height: 26px;
}
.transparent{
    opacity: 0.5;
}
.memberName{
    margin-top: 3rem;
}

@media (min-width: 580px) {
    .officialsGalleryWrap{
        padding-top: $default-padding;
    }
    .member-img-wrap{
        height: 60vw;
        img{
            object-position: 100% 30%;
        }
    }
}


@media (min-width: 1000px) {
    .memberName{
    margin-top: 0rem;
}
    .officialsGalleryWrap{
        padding-left: 15vw;
    }
    .officialsGallery{
       height: 500px;
       width: 3000px;
    }
    .member{
    flex-direction: row;
    height: 500px;
}
.member-img-wrap{
    width: 25vw;
    height: 100%;
}
.memberInfoWrap {
     width: 42vw;
}
.gallery_button{
    width: 5vw;
}
}

@media (min-width: 2000px){
    .member-img-wrap{
    height: 100%;
}
.memberInfoWrap {
     width: auto;
}
.officialsGalleryWrap{
        width: 100%;
    }
}