#officials{
    overflow: hidden;
    position: relative;
    h1{
        color: $red;
        span{
            color: $black;
        }
    }
}

.gallery_button{
    position: absolute;
    top: 45%;
    width: 60px;
    z-index: 999;
}

.btn-left{
    left: 5%;
}
.btn-right{
    right: 5%;
    transform: rotate(180deg);
}


.officialsGalleryWrap{
    width: 68vw;
    // height: 500px;
    // overflow-x: hidden;
    position: relative;
    padding-top: $default-padding;
}

.officialsGallery{
    // height: 500px;
    // width: 3000px;
    display: flex;
    flex-direction: row;
}

.member{
    // position: absolute;
    margin-right: 5rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // margin: 0 5rem;
    // height: 500px;
    // height: 70vh;
}

.member-img-wrap{
    // width: 38%;
    height: 60vw;
    overflow: hidden;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
    }
}

.memberInfoWrap{
    // width: 62%;
    background-color: $black;
    padding: 35px;
}
.memberInfo{
    padding: 30px;
    border-left: 7px solid $red;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    font-weight: 400;
    justify-content: space-between;
      h3{
        color:$red;
        margin-bottom: 10px;
    }
    p{
        color: #fff;
        font-weight: 700;
        margin-bottom: 2rem;
    }

}

.memberText{
    padding: 3rem 0 2rem 0;
    color: $white;
    font-size: 20px;
    line-height: 26px;
}
.transparent{
    opacity: 0.5;
}

@media (min-width: 800px) {
    .officialsGallery{
       height: 500px;
       width: 3000px;
    }
    .member{
    flex-direction: row;
    width: 68vw;
    height: 500px;
}
.member-img-wrap{
    width: 38%;
    height: 100%;
}
.memberInfoWrap {
     width: 62%;
}
}