#refereeSection{
    position: relative;
    h1{
        color: $red;
        span{
            color: $black;
        }
    }
}

.features{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 5%;
    padding-top: 2rem;
    font-family: "Grotesque MT Std";
}

.feature-text{
line-height: 23px;
    max-width: 260px;
    font-size: 19px;
    color: #1D1B1D;
}

.feature{
    /* width: 380px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* padding: 6rem 5% 0 5%; */
    /* padding: 3rem; */
    padding: 1rem 0 1rem 0;

    h2{
        text-transform: uppercase;
        padding-bottom: 20px;
        white-space: nowrap;
        font-weight: 700;
        font-size: 16px;
    }
}

.number{
    font-size: 110px;
    font-family: 'Grotesque MT Std';
    font-weight: bold;
    padding-right: 20px;
    top: -30px;
    position: relative;
    color: $grey;
}



@media (min-width: 580px){
    
    .features{
        padding-top: $default-padding;
    }
    .feature h2{
         font-size: 23px;
    }
    .number{
        font-size: 150px;
        padding-left: 0;
    }
    .meetTheTeamButton {
    margin-top: $default-padding;
}
}