

.about-hero, .team-hero, .pro-hero{
    background-image: url(../images/aboutus-hero.jpg);
    
    background-position: 70% 50%;
    background-size: cover;
    height: 500px;
    align-items: center;
    max-height: 1000px;

    h1{
        font-size: 50px;
    }
    p{
        padding-left: -10px;
        color: #fff;
        position: relative;
    }
    span{
            position: absolute;
    left: -7vw;
    color: #c10e11;
    font-family: 'SfSportsNightNs', 'Fugaz One', 'Open Sans', sans-serif;

    top: 5px;
    }
    div{
        width: 70%;
    }
} 



.relativeAboutHeroText{
    position: relative;
    padding: 0;
}
.team-hero, .pro-hero{
     background-image: url(../images/ourteam-hero.jpg);
     background-position: 15% 40%;
     background-size: cover;
         padding-left: 10%;
    padding-right: 10%;
     p{
         max-width: 500px;
     }
     div{
        width: auto;
    }
}
.about-us-hero-content, .our-team-hero-content, .pro-hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    div {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
}

@media (min-width: 600px){
    .about-hero, .team-hero, .pro-hero {
    background-position: 20% 50%;
    p{
        width: 60%;
    }
    div{
        width: auto;
    }
    span{
    left: -60px;
}

    }
    .team-hero, .pro-hero{
        background-position: 15% 40%;
        p{
            width:100%;
        }
    }
.about-us-hero-content, .our-team-hero-content, .pro-hero-content{
    margin: 0 10%;
    }
}


@media (min-width: 768px){
    .about-us-hero-content, .our-team-hero-content, .pro-hero-content{
    display: block;
     div {
        padding-right: 5rem;
        padding-left: 0;
    }
}
.our-team-hero-content, .pro-hero-content{
    margin-left: 40%;
    padding-right: 0;
    margin-top: 1.2rem;
}
    .about-hero, .team-hero, .pro-hero{
    justify-content: center;
    background-position: 70% 50%;
    h1{
        font-size: 100px;
    }
    }
    .hero-section{
    max-height: 95vh;
    min-height: 95vh;
    }
}

@media (min-width: 1200px){
    .our-team-hero-content{
    margin-left: 60%;
    }
    .about-hero, .team-hero, .pro-hero{
    background-size: cover;
    background-position: 60% 100%;
    justify-content: center;
    height: 100vh;
    }
}